.toggle-switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  margin: 0 !important;
}

.toggle-switch input {display:none;}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff4747;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .switch-slider {
  background-color: #57b657;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.switch-slider:after
{
 content:'Inactive';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 60%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .switch-slider:after
{  
  content:'Active';
  left: 40%;
}

/*--------- END --------*/

.ti-reload{
  animation: ti-reload 2s infinite linear;
}

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #2125298f;
}

.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 25px;
  height: 25px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #ffffff transparent #ffffff transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.loading-wrapper {
  font-size: 12px;
  color: #fff;
}

.dropify-infos-inner{
  display: none;
}
.input-group-addon {
  position: absolute;
  right: 15px;
  top: 13px;
  z-index: 9;
  cursor: pointer;
}
.show_hide_password input {
  padding-right: 40px;
  padding-left: 15px
}
.input-group-addon i {
  font-size: 14px;
  color: gray;
}

.table-header-plugins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.background-purple-color {
  background: #fff1e7;
}
.list-all-btn{
  padding: 10px!important;
  color: white;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f24f00;
}
.nav-pills .nav-link {
  color:#f24f00;
  border: 1px solid #f24f00;
  padding: 0.5rem 1.75rem;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  cursor: pointer;
  font-size: 50px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}
.fa-eye:before,.fa-eye-slash:before{
opacity:0;
}

.search-container {
  position: relative;
}

.clear-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}
.leaderboard-row span {
  display: block;
  color: #0a2540;
  font-size: 12px;
  line-height: normal;
  border-radius: 30px;
}

.card-body-no-radius {
  border-radius: 0;
}
h1, h2, h3, h4, h5, h6{
  color: #0A2540;
}
.recent-list .icon-data-list li:last-child{
  margin-bottom: 0;
}
button.btn.btn-rounded.btn-icon {
    border-radius: 5px;
    width: 32px;
    height: 32px;
}
.my-team-details .table td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.note-editor span.note-icon-caret {
    display: none;
}
body .form-group label {
    font-size: 14px;
}
.dropify-wrapper .dropify-preview .dropify-render img {
    max-width: 160px;
}
button.btn.btn-secondary {
    border-radius: 5px !important;
    color: #0a2540 !important;
    background: #fff1e7 !important;
    outline: none !important;
    border: solid 1px #ffe5d9 !important;
    box-shadow: none !important;
}
.pagination-pages ul.pagination {
    margin: 0;
    border: none;
}
.pagination-pages ul.pagination span.page-link {
    border: solid 1px #ddd !important;
    border-radius: 4px !important;
}
.pagination-pages ul.pagination span.page-link, .pagination-pages ul.pagination a.page-link {
    border: solid 1px #ddd !important;
    border-radius: 8px !important;
    height: 32px;
    width: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0A2540 !important;
    font-weight: 700;
    margin: 0 !important;
}
.pagination-section {
    margin: 30px 0 0;
}
.pagination-pages ul.pagination span.page-link:hover, 
.pagination-pages ul.pagination a.page-link:hover,
.pagination-pages ul.pagination .page-item.active .page-link,
.pagination-pages ul.pagination .page-item:hover .page-link,
.pagination-pages ul.pagination .page-item:active .page-link {
    border: solid 1px #F24F00 !important;
    background-color: #F24F00 !important;
    color: #fff !important;
}
.pagination-pages ul.pagination li:not(:last-child) {
    margin: 0 10px 0 0;
}
.pagination-page-links {
    justify-content: center !important;
}
.pagination-page-links .pagination .page-item:hover .page-link,
.pagination-page-links .pagination .page-item:active .page-link{
      background: #f24f00;
    border-color: #f24f00;
    color: #ffffff;
    box-shadow: none !important;
}
body button.btn {
    border-radius: 5px !important;
}
.btn-info,
.btn-info:hover
.btn-info:active {
    color: #fff;
    background-color: #0a2540 !important;
    border-color: #0a2540 !important;
    box-shadow: none !important;
    outline: none !important;
}
.nav.nav-pills.border-0 {
    row-gap: 10px;
}
@media (max-width: 1700px) {
  .leader-board-dashboard .col-lg-3 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}
@media (max-width: 1600px) {
  .card-box .label {
    font-size: 10px;
  }
}
@media (max-width: 1440px) {
  .package-statistics .col-lg-3 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
}
@media (max-width: 1199px) {
  .package-statistics .col-lg-3 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 991px) {
  .watch-our-introductory .introductory-text h1 {
      font-size: 24px;
      line-height: 34px;
  }
  .sidebar-offcanvas {
      max-height: calc(100vh - 65px);
      top: 65px;
  }
  .page-body-wrapper {
      min-height: calc(100vh - 65px);
      padding-top: 65px;
  }
  .main-panel {
      min-height: calc(100vh - 65px);
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown.nav-profile .navbar-dropdown {
    left: auto;
    max-width: 240px;
    top: 60px;
  }
  .navbar .navbar-brand-wrapper {
    height: 65px;
  }
  .content-wrapper h3 {
      font-size: 22px;
  }
  hr {
      margin: 20px 0;
  }
  .row-gap-30 {
    row-gap: 20px;
  }
}
@media (max-width: 767px) {  
  body .form-group .col-form-label {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
}
  .card .card-title {
    font-size: 16px;
    padding: 0 0 10px;
  }
  a.text-info {
      font-size: 14px;
      line-height: 24px;
  }
  .recent-list.small-text .icon-data-list li .price-recent {
    font-size: 14px;
  }
  .watch-our-introductory .introductory-text p {
      font-size: 14px;
      line-height: 24px;
  }
  .footer {
      background: #fff;
      padding: 10px 15px;
  }
  .leader-board-dashboard .col-lg-3 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .card .card-body {
      padding: 15px;
  }
  .card-box {
    padding: 15px;
  }
  .icon-main {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 10px;
  }
  .price-box {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 4px;
  }
  .box-discrip span {
      margin: 0 4px 0 0;
  }
  .icon-main img {
      max-width: 28px;
  }
  .watch-our-introductory {
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 15px;
    row-gap: 20px;
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile img {
    width: 32px;
    height: 32px;
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .profile-img {
    width: 40px;
      height: 40px;
      border-radius: 5px;
      margin: 0 5px 0 0;
  }
}
@media (max-width: 575px) {
    .package-statistics .col-lg-3 {
      max-width: 100%;
      flex: 0 0 100%;
  }
  .col-form-label {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .recent-list .icon-data-list li {
    padding: 5px;
    border-radius: 4px;
  }
  .icon-data-list li img {
      margin-right: 5px;
  }
  .leaderboard-row {
    font-size: 12px;
  }
  .recent-list.small-text .icon-data-list li .price-recent {
    font-size: 13px;
}
  .leaderboard-row span {
    font-size: 10px;
    font-weight: 700;
  }
}