.sidebar .nav .nav-item > .nav-link img {
    max-width: 20px;
    margin: 0 7px 0 0;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow {
    color: #ffffff;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  margin: 0 !important;
}

.toggle-switch input {display:none;}
body .form-control {
    font-size: 14px !important;
}
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff4747;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .switch-slider {
  background-color: #57b657;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.switch-slider:after
{
 content:'Inactive';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 60%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .switch-slider:after
{  
  content:'Active';
  left: 40%;
}

.switch-slider-notification {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff4747;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.switch-slider-notification:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .switch-slider-notification {
  background-color: #57b657;
}

input:focus + .switch-slider-notification {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider-notification:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.switch-slider-notification:after
{
 content:'Decline';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 60%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .switch-slider-notification:after
{  
  content:'Approve';
  left: 40%;
}
/*--------- END --------*/

.ti-reload{
  animation: ti-reload 2s infinite linear;
}

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #2125298f;
}

.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 25px;
  height: 25px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #ffffff transparent #ffffff transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.loading-wrapper {
  font-size: 12px;
  color: #fff;
}

.dropify-infos-inner{
  display: none;
}
.input-group-addon {
  position: absolute;
  right: 15px;
  top: 13px;
  z-index: 9;
  cursor: pointer;
}
.show_hide_password input {
  padding-right: 40px;
  padding-left: 15px
}
.input-group-addon i {
  font-size: 14px;
  color: gray;
}

.table-header-plugins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.background-purple-color {
  background: #fff1e7;
}
.list-all-btn{
  padding: 10px!important;
  color: white;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f24f00;
}
.nav-pills .nav-link {
  color:#f24f00;
  border: 1px solid #f24f00;
  padding: 0.5rem 1.75rem;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  cursor: pointer;
  font-size: 50px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}
.fa-eye:before,.fa-eye-slash:before{
opacity:0;
}

.search-container {
  position: relative;
}

.clear-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}
.leaderboard-row span {
  display: block;
  color: #0a2540;
  font-size: 12px;
  line-height: normal;
  border-radius: 30px;
}

.card-body-no-radius {
  border-radius: 0;
}
h1, h2, h3, h4, h5, h6{
  color: #0A2540;
}
.recent-list .icon-data-list li:last-child{
  margin-bottom: 0;
}
button.btn.btn-rounded.btn-icon {
    border-radius: 5px;
    width: 32px;
    height: 32px;
}
a.btn.btn-warning.btn-rounded{
    padding: 7px 0!important;
    border-radius: 5px !important;
    width: 32px;
    height: 32px;
}
.my-team-details .table td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.note-editor span.note-icon-caret {
    display: none;
}
body .form-group label {
    font-size: 14px;
}
.dropify-wrapper .dropify-preview .dropify-render img {
    max-width: 160px;
}
button.btn.btn-secondary {
    border-radius: 5px !important;
    color: #0a2540 !important;
    background: #fff1e7 !important;
    outline: none !important;
    border: solid 1px #ffe5d9 !important;
    box-shadow: none !important;
}
.pagination-pages ul.pagination {
    margin: 0;
    border: none;
}
.pagination-pages ul.pagination span.page-link {
    border: solid 1px #ddd !important;
    border-radius: 4px !important;
}
.pagination-pages ul.pagination span.page-link, .pagination-pages ul.pagination a.page-link {
    border: solid 1px #ddd !important;
    border-radius: 8px !important;
    height: 32px;
    width: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0A2540 !important;
    font-weight: 700;
    margin: 0 !important;
}
.pagination-section {
    margin: 30px 0 0;
}
.pagination-pages ul.pagination span.page-link:hover, 
.pagination-pages ul.pagination a.page-link:hover,
.pagination-pages ul.pagination .page-item.active .page-link,
.pagination-pages ul.pagination .page-item:hover .page-link,
.pagination-pages ul.pagination .page-item:active .page-link {
    border: solid 1px #F24F00 !important;
    background-color: #F24F00 !important;
    color: #fff !important;
}
.pagination-pages ul.pagination li:not(:last-child) {
    margin: 0 10px 0 0;
}
.pagination-page-links {
    justify-content: center !important;
}
.pagination-page-links .pagination .page-item:hover .page-link,
.pagination-page-links .pagination .page-item:active .page-link{
      background: #f24f00;
    border-color: #f24f00;
    color: #ffffff;
    box-shadow: none !important;
}
body button.btn {
    border-radius: 5px !important;
}
.btn-info,
.btn-info:hover
.btn-info:active {
    color: #fff;
    background-color: #0a2540 !important;
    border-color: #0a2540 !important;
    box-shadow: none !important;
    outline: none !important;
}
.nav.nav-pills.border-0 {
    row-gap: 10px;
}
.swal2-container .swal2-modal .swal2-icon, 
.swal2-container .swal2-modal .swal2-success-ring {
    margin-top: 0;
    margin-bottom: 15px;
}
div:where(.swal2-container).swal2-center>.swal2-popup {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    background: #0A2540;
}
.swal2-modal .swal2-title {
    color: #ffffff !important;
}
.content p {
    display: inline;
}
span.read-more a {
    color: #f24f00;
    font-weight: 600;
}
li.nav-item.hover-open  a.nav-link span.menu-title {
    background: #f24f00 !important;
}
li.nav-item.hover-open ul.nav.flex-column.sub-menu a.nav-link {
    padding: 0;
    position: initial !important;
    margin: 0;
    background: #0a2540 !important;
}
li.nav-item.hover-open ul.nav.flex-column.sub-menu {
    padding: 0;
    margin: 0;
    width: 100%;
}
li.nav-item.hover-open ul.nav.flex-column.sub-menu a.nav-link span.menu-title {
    position: initial !important;
    width: 100%;
    display: block !important;
    margin: 0 !important;
    max-width: 100%;
    box-shadow: none;
    background: none;
    padding: 0px 20px;
    color: #fff;
    background: #0a2540 !important;
}
.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title,
.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse{
    left: 60px;
}
.fixed-image {
    height: 200px;
    width: 100%;
    border: 2px solid #E5E5E5;
    border-radius: 7px;
    text-align: center;
}
.fixed-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
div:where(.swal2-container).swal2-center>.swal2-popup textarea {
    color: #fff;
    outline: none;
    box-shadow: none;
}
/*23-10-2023*/

.watch-our-introductory button.btn-close {
    position: absolute;
    right: -20px;
    width: 40px;
    height: 40px;
    top: -20px;
    border-radius: 20px;
    background: #f24f00;
    border: none;
    color: #fff;
    font-weight: 700;
}
.window-popup .modal-dialog {
    max-width: 570px;
    margin-bottom: 0;
}
.window-popup .watch-our-introductory {
    position: relative;
    flex-wrap: wrap;
    text-align: center;
}
.window-popup .watch-our-introductory  .introductory-video {
    max-width: 100%;
    margin-top: 20px;
}
.window-popup {
    padding: 25px;
}
.dash-user-pro-inner {
    padding: 30px 15px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 19%);
    margin: 0 0 0;
    display: none;
}
.window-popup .video-container video {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.profile-image {
    width: 100px;
    height: 100px;
    border: solid 1px #ddd;
    overflow: hidden;
    border-radius: 50%;
    padding: 5px;
    margin: auto;
}
.profile-image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-name-outer {
    text-align: center;
    padding: 15px 0 10px;
}
.user-details-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
  border-top: solid 1px #ddd;
}
.user-details-list ul li {
    display: flex;
    justify-content: space-between;
    padding: 7px 0 6px;
    border-bottom: solid 1px #ddd;
}
.user-details-list ul li .left {
    font-weight: 700;
    font-size: 16px;
    color: #0a2540;
}
.user-authenticated .card-box{
  border-top: solid 3px transparent;
}
.user-authenticated .old-lace {
    background-color: #ffe9ae;
    border-color:#ffba00;
}
.user-authenticated .titan-white {
    background-color: #c6c9ff;
    border-color:#6a70cb;
}
.user-authenticated .pearl {
    background-color: #ffcbcc;
    border-color:#ed7477;
}
.user-authenticated .lily-white {
    background-color: #b3eeff;
    border-color:#5ac1de;
}
.user-authenticated .lily-white-off {
    background-color: #acebff;
    border-color: #67ceee;
}
.user-authenticated .hint-green {
    background-color: #9fffc7;
    border-color:#40c175;
}
.user-authenticated .linen {
    background-color: #ffb18b;
    border-color:#f24f00;
}
.user-authenticated .card-box .right-icon {
    filter: brightness(0.6);
}
.user-authenticated .card-box > .label:after {
    border-left: 9px solid #ffe9ae;
}
.user-authenticated .price-box {
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
}
@media (max-width: 1700px) {
  .leader-board-dashboard .col-lg-3 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}
@media (max-width: 1600px) {
  .card-box .label {
    font-size: 10px;
  }
}
@media (max-width: 1440px) {
  .package-statistics .col-lg-3 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
}
@media (max-width: 1199px) {
  .package-statistics .col-lg-3 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 991px) {
  .watch-our-introductory .introductory-text h1 {
      font-size: 24px;
      line-height: 34px;
  }
  .sidebar-offcanvas {
      max-height: calc(100vh - 65px);
      top: 65px;
  }
  .page-body-wrapper {
      min-height: calc(100vh - 65px);
      padding-top: 65px;
  }
  .main-panel {
      min-height: calc(100vh - 65px);
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown.nav-profile .navbar-dropdown {
    left: auto;
    max-width: 240px;
    top: 60px;
  }
  .navbar .navbar-brand-wrapper {
    height: 65px;
  }
  .content-wrapper h3 {
      font-size: 22px;
  }
  hr {
      margin: 20px 0;
  }
  .row-gap-30 {
    row-gap: 20px;
  }
  .head-f-25 {
    font-size: 16px !important;
    margin: 0 0 5px;
  }
  .content p {
    font-size: 14px;
    line-height: 24px;
  }
  .course-price-list ul li {
    padding: 10px 0;
  }
  .my-course-package span.my-course-plan {
    margin: 0;
    padding: 4px 8px;
    position: absolute;
    right: 13px;
    font-size: 12px;
  }
  .my-course-package {
    position: relative;
  }
  .my-course-package .plan-name {
    font-size: 18px;
    margin: 0 0 20px;
  }
  .my-course-package {
    padding: 20px 15px;
    margin: 20px 0 0;
  }
  .sec-head {
    padding: 10px 0 0;
  }
  body .navbar .navbar-menu-wrapper {
    width: calc(100% - 165px);
  }
  body .navbar .navbar-brand-wrapper {
    width: 165px;
  }
  body .navbar .navbar-brand-wrapper .brand-logo-mini {
      padding-left: 0;
      text-align: left;
  }
  body .navbar .navbar-brand-wrapper .brand-logo-mini img {
    width: fit-content;
      margin: 0;
  }
  .navbar .navbar-menu-wrapper .navbar-nav.menubar .nav-item {
      margin: 0 18px 0 0;
  }
}
@media (max-width: 767px) {  
  .dash-user-pro-inner{
    display: block;
  }
  .course-item .course-video .course-count{
    display: none;
  }
  .course-item .course-video .box-video {
    width: 100%;
  }
  .course-item .course-text {
      width: 100%;
      padding: 0;
  }
  .course-item .course-video {
    width: 100%;
  }
  .course-item {
    width: 100%;
    margin-right: 0;
    padding: 15px 0;
  }
  .my-course-package .plan-name {
    font-size: 16px;
    margin: 0 0 15px;
    text-align: left;
}
  .course-item .course-text h5 {
    margin: 0 0 5px;
  }
  .course-text-width {
    padding: 5px 0 0;
  }
  .course-item .course-video .box-video {
      width: 100%;
      height: 160px;
  }
  .my-course-video-main video {
    height: 250px;
  }
  body .form-group .col-form-label {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-start;
  }
  form button.custom-btn {
    margin-top: 15px;
    height: 50px;
    font-size: 16px;
  }
  .card .card-title {
    font-size: 16px;
    padding: 0 0 10px;
  }
  a.text-info {
      font-size: 14px;
      line-height: 24px;
  }
  .recent-list.small-text .icon-data-list li .price-recent {
    font-size: 14px;
  }
  .watch-our-introductory .introductory-text p {
      font-size: 14px;
      line-height: 24px;
  }
  .window-popup .watch-our-introductory .introductory-text p{
    display: none;
  }
  .footer {
      background: #fff;
      padding: 10px 15px;
  }
  .leader-board-dashboard .col-lg-3 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .card .card-body {
      padding: 15px;
  }
  .card-box {
    padding: 15px;
  }
  .icon-main {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 10px;
  }
  .user-authenticated .icon-main,
  .user-authenticated .icon-main {
    display: none;
  }
  .user-authenticated .card-box .right-icon {
      max-width: 30px;
  }
  .user-authenticated .watch-our-introductory{
    display: none;
  }
  .user-authenticated .window-popup .watch-our-introductory{
    display: block;
    text-align: center;
  }
  .window-popup .introductory-video {
    margin: auto;
    display: block;
  }
  .user-authenticated .window-popup .watch-our-introductory .introductory-text {
    margin: 0 0 20px;
}
  .price-box {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 4px;
  }
  .box-discrip span {
      margin: 0 4px 0 0;
  }
  .icon-main img {
      max-width: 28px;
  }
  .watch-our-introductory {
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 15px;
    row-gap: 20px;
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile img {
    width: 32px;
    height: 32px;
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .profile-img {
    width: 40px;
      height: 40px;
      border-radius: 5px;
      margin: 0 5px 0 0;
  }
  .navbar .navbar-menu-wrapper .navbar-nav.menubar .nav-item {
    margin: 0 15px 0 0;
  }
  ul.navbar-nav.m-auto.menubar {
    display: none !important;
  }
  .content-wrapper {
    padding: 20px 15px;
  }
  .my-team-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ECE6E6;
    padding-bottom: 13px;
    margin: 0px 0 20px;
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .my-team-head .nav-tabs .nav-link {
    font-size: 14px;
    padding: 7px 15px;
  }
  .my-team-head .nav-tabs {
    padding: 4px;
  }
  .watch-our-introductory .introductory-text h1 {
    font-size: 20px;
    line-height: 30px;
}
}
@media (max-width: 575px) {
    .package-statistics .col-lg-3 {
      max-width: 100%;
      flex: 0 0 100%;
  }
  .col-form-label {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .profile-name * {
      font-size: 0 !important;
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .profile-name h5:after {
      margin: 0 0 0 0;
  }
}

@media (max-width: 400px) {
 .window-popup .watch-our-introductory .introductory-text h1 {
      font-size: 18px;
      line-height: 28px;
  }
  .recent-list .icon-data-list li {
    padding: 5px;
    border-radius: 4px;
  }
  .icon-data-list li img {
      margin-right: 5px;
  }
  .leaderboard-row {
    font-size: 12px;
  }
  .recent-list.small-text .icon-data-list li .price-recent {
    font-size: 13px;
}
  .leaderboard-row span {
    font-size: 10px;
    font-weight: 700;
  }
  .my-course-video-main video {
    height: 200px;
  }
}
@media (max-width: 375px) {
  body .navbar .navbar-brand-wrapper {
      width: 125px;
      padding-left: 10px;
  }
}
.video-container video {
  width: 100%;
  height: 195px;
  object-fit: cover;
  object-position: center;
}

.fa-asterisk{
  font-size: 9px;
  padding-left: 0.1rem !important;
  color: #ec3818;
  padding-top: 0.25em;
}

.fixed-image img {
    width: 200px;
    max-width: 100%;
}

.swal2-modal .swal2-html-container{
  color:#d6e0e9;
} 
.swal2-modal .swal2-input-label{
  color:aliceblue;
}
div:where(.swal2-container) .swal2-textarea {
  width:-webkit-fill-available;
}
div:where(.swal2-container) div:where(.swal2-validation-message) {
    background: #ffffff00 !important;
    color: #f27474 !important;
    padding: 0 !important;
    margin: 0 !important;
    justify-content: flex-start !important;
    text-align: left !important;
    justify-self: flex-start !important;
}

/* //  */

.imglayer_box {
  height: 303px;
}

.imglayer_box>img {
  height: 100% !important;
  object-fit: contain;
}

.videolayer_box {
  height: 294px !important;
}

@media(max-width:767px){
  .imglayer_box {
    height: 200px;
  }
  .videolayer_box {
    height: auto !important;
  }
}